*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/mixed.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 1%;
}

.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 10px
}

.nav-links ul li a{
    color: #000;
    text-decoration: none;
    font-size: 25px;
}

.typing-container {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    width: 100%;
    font-size: 1.5rem;
    color: #000000;
}

#typing-text {
    white-space: pre;
}

.cursor {
    animation: blink 0.75s step-end infinite;
}

@keyframes blink {
    from, to { opacity: 0; }
    50% { opacity: 1; }
}

.photo-container {
    margin-top: 6rem; /* Adjust as needed */
    text-align: center;
    width: 100%;
}

.profile-photo {
    width: 200px; /* Adjust size as needed */
    height: 200px;
    /* border-radius: 50%; Makes it circular, remove if not desired */
    object-fit: cover;
    display: block;
    margin: 0 auto;
}